.footer
  .pure-menu.pure-menu-horizontal
    ul
      li.pure-menu-item
        a.pure-menu-link(href="#") About
      li.pure-menu-item
        a.pure-menu-link(href="#") Twitter
      li.pure-menu-item
        a.pure-menu-link(href="#") GitHub
