ul.nav-list
    each value, key in theme.menu
        li.nav-item
            - var re = /^(http|https):\/\/*/gi;
            - var tar = re.test(value) ? "_blank" : "_self"
            - var act = !re.test(value) && "/"+page.current_url === value
            a.pure-button(class={active: act} href=url_for(value) target=tar)
                != key
